/* Общий стиль */
body {
  font-family: "Montserrat", sans-serif;
  background: #f4f4f2;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 2.5rem;
  color: #7170f0;
}

.link-wrapper {
  margin-top: 15px;
  margin-left: 15px;
  display: flex;
  justify-content: start;
  gap: 10px;
}

.link:hover {
  color: #7170f0;
  transition: color .2s ease;
}

.main {
  max-width: 920px;
  margin: 0 auto;
  flex: 1;
  font-size: 1.1rem;
}

section:not(:last-child) {
  margin-bottom: 30px;
}

.profile {
  display: flex;
  gap: 20px;
  align-items: center;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skills {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.btn {
  padding: 10px 20px;
  background: #7170f0;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background: #0056b3;
}

ul {
  margin-top: 10px;
}

.hidden {
  display: none;
}

.skills-wrapper,
.favorites-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 440px;
}

.download {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.download .resume,
.download .diploma {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 440px;
}

.diploma-inner {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.btn-wrapper {
  display: flex;
  justify-content: start;
  gap: 10px;
}

.download .btn {
  width: 100%;
  text-align: center;
  background: #38b26c;
}

.download .btn:hover {
  background: #28a745;
}

.hint {
  font-size: 0.8rem;
  color: #666;
}

.footer {
  margin-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 0.9rem;
  color: #666;
}
